
target/
dbt_packages/
dbt_internal_packages/
logs/

# Banco de dados local
*.duckdb
*.duckdb.wal

# Configurações pessoais do dbt
.user.yml

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# IDEs
.idea/
.vscode/
